<%= form_for movie, url: movie.new_record? ? movies_path : movie_path(id: movie) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Title</label>
    <%= f.text_field :title, :class => 'form-control col-sm-10' %>
  </div>
  <div class="form-group row">
   <label class="col-sm-2 col-form-label">Text</label>
   <%= f.text_field :text, :class => 'form-control col-sm-10' %>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Category</label>
    <%= f.select :category, Movie.categories, {}, :class => 'form-control col-sm-10'  %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>