<aside class="col-sm-3">
  <div class="card">
	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Category </h6></header>
		<div class="filter-content">
			<div class="list-group list-group-flush">
			  <% Hash[Movie.categories].each do |i, category| %>
                <a href="<%= "?category=#{category}" %>" class="list-group-item"><%= category %> <span class="float-right badge badge-light round"><%= @categories_count[category] ? @categories_count[category] : 0 %></span> </a>
              <% end %>
			</div>
		</div>
	</article>

	<article class="card-group-item">
		<header class="card-header"><h6 class="title">Rating </h6></header>
		<div class="filter-content">
			<div class="list-group list-group-flush">
			  <% (5).downto(0).each do |c| %>
                <a href="<%= "?average_rating=#{c}" %>" class="list-group-item">
                  <div class="reviews">
                    <star-rating class="star-rating" v-model="rating" data-score="<%= c %>" v-bind:read-only="true" v-bind:star-size="30" v-bind:show-rating="false"></star-rating>
                  </div>
                  <span class="float-right badge badge-light round"><%= @ratings_count[c.to_f] ? @ratings_count[c.to_f] : 0 %></span>
                </a>
              <% end %>
			</div>
		</div>
	</article>
  </div>
</aside>

<div id="content" class="col-md-9">
    <h1>Movies</h1>

    <div class="mx-sm-4 mb-3 float-right"><%= link_to 'Add Movie', new_movie_path %></div>
    <%= form_tag movies_path, :class => 'form-inline', method: :get do %>
      <div class="form-group mx-sm-4 mb-2">
        <%= text_field_tag :search, params[:search], :class => 'form-control' %>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    <% end %>

    <% if !@movies.empty? %>
    <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Category</th>
            <th>Average Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.text %></td>
            <td><%= movie.category %></td>
            <td><%= movie.average_rating %></td>
            <% if user_signed_in? && movie.user == current_user %>
            <td>
                <%= link_to 'Edit', edit_movie_path(movie) %>
                <%= link_to 'Remove', movie_path(movie), method: :delete %>
            </td>
            <% else %>
            <td>
                <% if user_signed_in? %>
                  <%= link_to 'Rate', movie_rate_path(movie) %>
                <% end %>
                <%= link_to 'Show', movie_path(movie) %>
            </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
    </table>
    <% else %>
    No Movies Found!
    <% end %>

    <%= will_paginate(@movies, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>